
#explorePage {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  background-color: #000000;
  
}
#explore-hero {
  font-family: sans-serif;
  margin: 20px 10%;
}
/*Welcome*/
#explore-hero h3 {
  font-size: 3.9rem;
  font-weight: 10;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  color: rgb(255, 255, 255);
  border: none;
}

#explore-hero h3:hover{
  border: none;
  box-shadow: none;
}

#explore-hero h1 {
  font-size: 2.8rem;
  letter-spacing: 2px;
  /* font-weight: 4 ; */
  color: rgb(98, 94, 94);
}

/*A New Way to Learn*/
#explore-hero h2 {
  font-size: 1.8rem;
  letter-spacing: 2px;
  font-weight: 4;
  color: rgb(98, 94, 94);
  transition: text-shadow 0.3s ease;
  
}

/*Enhance your skills with us
and nail those technical interviews.*/
#home-text
{
  font-size: 1.8rem;
  letter-spacing: 2px;
  font-weight: 4 ;
  color: rgb(98, 94, 94);
  /* position: absolute; */
  top: 110px;
  transition: text-shadow 0.3s ease;
}
#home-text:hover{
  color: white;
  /* font-size: 1.9rem; */
  text-shadow: 0 0 5px rgb(247, 211, 92),
             0 0 10px rgba(249, 197, 29),
             0 0 15px rgba(249, 197, 29);

}
#explore-hero h2:hover{
  color: white;
  /* font-size:1.9rem; */
  text-shadow: 0 0 10px rgba(249, 197, 29), 
               0 0 20px rgba(249, 197, 29),
               0 0 30px rgba(249, 197, 29);
}



.coder-img {
  border-radius: 20px;
  width: 400px;
  position: absolute;
  left: 800px;
  top: 150px;
  transition: transform 0.3s ease;
}

.coder-img:hover{
  transform: scale(1.2);

}



#home-btn {
  margin: 5px 5px; /* Adjust margin as needed */
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 240, 182);
  font-size: 14px;
  text-align: center;
  position: absolute;
  bottom: 110px;
}

#home-btn:hover {
  background-color: rgb(255, 218, 69);
  cursor: pointer;
  transform: scale(1.1);
}


/* .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
} */

.host-contest-img
{
  margin: 150px 50px;
  height:200px;
  width:350px;
  
  transition: transform 0.3s ease;
}

.host-contest-img:hover{
  
  transform: scale(1.2);
  /* box-shadow: 0 0 5px rgba(249, 197, 29), 
  0 0 10px rgba(249, 197, 29),
  0 0 5px rgba(249, 197, 29);; */
}



#Host-contest-txt
{
  right: 20px;
  margin: 90px 150px;
  font-size: 2rem;
  font-weight: 2;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  color: rgb(255, 255, 255);
}

#host-contest-para
{
  
  font-size: 1.5rem;
  font-weight: 10;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  color: rgba(255, 255, 255, 0.608);
  transition: text-shadow 0.3s ease;
}

#host-contest-para:hover
{
  color: white;
  text-shadow: 0 0 10px rgba(249, 197, 29), 
               0 0 20px rgba(249, 197, 29),
               0 0 30px rgba(249, 197, 29);
}
#host-contest-btn,#collaborative-coding-btn
{
  margin: 15px 5px;
  padding: 10px;
  /* border: 2px solid blue; */
  border-radius: 10px;
  background-color: rgb(255, 240, 182);
  font-size: 14px;
  text-align: center;
  margin-top: 2px;
  /* position: absolute; */
  bottom: 50px;
}
#collaborative-coding-btn:hover{
  background-color: rgb(255, 218, 69);
  cursor: pointer;
  transform: scale(1.1);
}
#host-contest-btn:hover{
  background-color: rgb(255, 218, 69);
  cursor: pointer;
  transform: scale(1.1);

}

.collaborative-coding-img
{
  margin : 0px 100px;
  height: 200px;
  width:350px;
  transition: transform 0.3s ease;

}
.collaborative-coding-img:hover
{
  
  transform: scale(1.2);
  /* box-shadow: 0 0 5px rgba(249, 197, 29), 
  0 0 10px rgba(249, 197, 29),
  0 0 5px rgba(249, 197, 29);; */
}

#collaborative-coding-txt
{
  margin: 10px 50px;
  font-size: 2rem;
  font-weight: 2;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  color: rgb(255, 255, 255);
}
#collaborative-coding-para
{
  margin: 5px 50px;
  font-size: 1.5rem;
  font-weight: 10;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  color: rgba(255, 255, 255, 0.608);
  transition: text-shadow 0.3s ease;
  
}

#collaborative-coding-para:hover{

  color: white;
  text-shadow: 0 0 10px rgba(249, 197, 29), 
               0 0 20px rgba(249, 197, 29),
               0 0 30px rgba(249, 197, 29);

}

.lang-flex-img
{
  height:200px;
  width:350px;
  overflow: hidden;
  margin: 150px 50px;
  transition: transform 0.3s ease;
  
}

.lang-flex-img:hover{
  transform: scale(1.2);
  
  /* box-shadow: 0 0 5px rgba(249, 197, 29), 
  0 0 10px rgba(249, 197, 29),
  0 0 5px rgba(249, 197, 29);; */
}

#lang-flex-txt
{
  margin: 70px 150px;
  font-size: 2rem;
  font-weight: 2;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  color: rgb(255, 255, 255);
}

#lang-flex-para
{
  font-size: 1.5rem;
  /* font-weight: 4; */
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  color: rgba(255, 255, 255, 0.608);
  transition: text-shadow 0.3s ease;
}

#lang-flex-para:hover{
  color: white;
  text-shadow: 0 0 10px rgba(249, 197, 29), /* Adjust the color and size of the glow effect as needed */
               0 0 20px rgba(249, 197, 29),
               0 0 30px rgba(249, 197, 29);
}

#upcoming-contest
{
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  background-color: black;
  color: white;
  margin-bottom: 50px;
  margin-top:-80px;
}

/* Carousel container styles */
.carousel-container {
  margin: 80px;
  position: relative;
  width: 100%;
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
}

.flex-item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  margin-left: 40px;
  width: 50px;
  height: 100px; /* Adjust as needed */
  background-color: #000000; /* Example background color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example box shadow */
  transition: transform 0.3s ease;
  color: #000000;
}
.flex-item:hover{
  transform: scale(1.1);
}


/* Slide styles */


/* Navigation button styles */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5); /* Example button background color */
  border: none;
  padding: 10px;
  font-size: 16px;
  color: #333; /* Example button color */
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Example button hover background color */
}

/*  */
.upcoming-contest-text
{
  margin-top:50px;
  margin-bottom: 20px;;
  text-align: center;
}
.upcoming-contest-row
{
    margin-top: 20px;
    height: auto;
    width: 100%;
}

#upcoming-contest {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  font-size: 1.1rem;
  background-color: black;
  color: white;
  margin-bottom: 20px; /* Adjust margin-bottom */
  margin-top: 50px; /* Adjust margin-top */
}

/* .upcoming-contest-wrapper
{
  overflow: y;
} */

.upcoming-contest-row {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
#upcoming-contest-table {
  
  border-collapse: collapse;
  
  
  width: 100%;
  width: 100%;
  
}
.upcoming-contest-wrapper
{
  display: flex;
  max-width: 100%;
  justify-content: center;
max-height: 300px;
  overflow-y: auto;
  overflow-x:hidden;
  
}

::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
  background-color: rgba(255, 255, 255, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5); /* Radius of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f0b41b; /* Color of the scrollbar handle on hover */
}

#upcoming-contest-table th,
#upcoming-contest-table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}










